# Proyek Analisis Data: Nama dataset
- Nama:Brillyan Kurnia Akbar
- Email:bryankurniaakbar12@gmail.com
- Id Dicoding:

## Menentukan Pertanyaan Bisnis

- pertanyaan 1 .Tren penggunaan sepeda: Bagaimana tren penggunaan sepeda dari waktu ke waktu? Apakah ada pola musiman atau perubahan tren penggunaan yang signifikan?

- pertanyaan . Pengaruh promosi: Apakah promosi atau kampanye tertentu mempengaruhi tingkat penggunaan sepeda? Apakah ada peningkatan yang signifikan dalam jumlah peminjaman sepeda setelah promosi2

## Menyaipkan semua library yang dibuthkan

In [47]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [3]:
import pandas as pd
     
day = pd.read_csv("day.csv")
hour = pd.read_csv("hour.csv")
day
hour

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

### Assessing Data

In [4]:
#memeriksa baris Pertama
day.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [5]:
#mengevaluasi kolom
day[['temp','atemp','hum','windspeed']].describe

<bound method NDFrame.describe of          temp     atemp       hum  windspeed
0    0.344167  0.363625  0.805833   0.160446
1    0.363478  0.353739  0.696087   0.248539
2    0.196364  0.189405  0.437273   0.248309
3    0.200000  0.212122  0.590435   0.160296
4    0.226957  0.229270  0.436957   0.186900
..        ...       ...       ...        ...
726  0.254167  0.226642  0.652917   0.350133
727  0.253333  0.255046  0.590000   0.155471
728  0.253333  0.242400  0.752917   0.124383
729  0.255833  0.231700  0.483333   0.350754
730  0.215833  0.223487  0.577500   0.154846

[731 rows x 4 columns]>

In [22]:
#menghitung total
day[['casual','registered']].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of      casual  registered
0       331         654
1       131         670
2       120        1229
3       108        1454
4        82        1518
..      ...         ...
726     247        1867
727     644        2451
728     159        1182
729     364        1432
730     439        2290

[731 rows x 2 columns]>

In [6]:
#menghitung normalisasi
max_temp = 41
day['temp'].sum()*max_temp
#
max_atemp = 50
day['atemp'].sum()*max_atemp
#
max_hum = 100
day['hum'].sum()*max_hum
#
max_windspeed = 67
day['windspeed'].sum()*max_windspeed

9329.4431869

In [33]:
#menghitung rata' kolom temp
day['temp'].mean()

0.495384788508892

In [36]:
#mencari nilai max & min
day['hum'].max()
day['hum'].min()

0.0

In [7]:
#menghitung total renta; bikes
day['cnt'].sum()

3292679

### Cleaning Data

In [10]:
#mengatasi nilai yang hilang
day.dropna()
#mengatasi duplikat
day.drop_duplicates()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

## Exploratory Data Analysis (EDA)

### Explore ...

In [ ]:
Bike sharing adalah bentuk transportasi yang populer di banyak kota di seluruh dunia. Ini memungkinkan individu untuk menyewa sepeda untuk jangka waktu yang singkat, biasanya beberapa jam atau satu hari, dan mengembalikannya ke stasiun bike sharing yang telah ditentukan.

## Visualization & Explanatory Analysis

### Pertanyaan 1:

In [ ]:
. Memahami Struktur Dataset: Periksa dimensi dataset (baris dan kolom), tipe data kolom, dan nama kolom. Anda dapat menggunakan perintah seperti `day.head()`,  dan `day.info()` untuk mendapatkan informasi ini.

### Pertanyaan 2:

In [ ]:
Statistik Deskriptif: Hitung statistik deskriptif seperti mean, median, mode, standar deviasi, serta perhitungan kuartil, menggunakan method `day.describe()`. Ini membantu dalam memahami distribusi dan variabilitas data.

## Conclusion

- Conclution pertanyaan1: Dalam melakukan analisis visualisasi dan penjelasan data bike sharing, kita dapat memperoleh wawasan yang berharga tentang pola penggunaan, demografi pengguna, dan faktor-faktor yang memengaruhi penggunaan sepeda. 
- conclution pertanyaan 2:membuat visualisasi dan melakukan analisis yang tepat, bike sharing dapat dijalankan secara lebih efektif dan efisien untuk memenuhi kebutuhan transportasi masyarakat.